<app-navbar></app-navbar>
<section>
  <mat-card class="card-visualization mat-elevation-z7" >
    <mat-card-title>
      Visualization
    </mat-card-title>
    <mat-card-content>
      <div class="graphs-contianer">
        <div class="barchart">
          <div id="barChartContainer" style="height: 100%; width: 100%;"></div>
        </div>
        <div class="piechart">
          <div id="pieChartContainer" style="height: 100%; width: 100%;"></div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
  </mat-card>
  <div class="button-container">
  <button mat-raised-button  (click)="populateLocaleData()">Locale</button>
  <button mat-raised-button   (click)="populateCadData()">CAD</button>
  <button mat-raised-button   (click)="populateAparallelData()">Aparallel</button>
</div>
</section>
