section {
  margin: 1em auto;
  height: 500px;
}

mat-card {
  margin: 1em auto;
  height: 100%;
  width: 70%;
}

.graphs-contianer {
  display: flex;
  flex-direction: row;

  height: 400px;
}

.barchart {
  height: 100%;
  width: 50%;
  //   background-color: rebeccapurple;
  padding: 5px;
}

.piechart {
  height: 100%;
  width: 50%;
  padding: 5px;
}

.button-container {
  text-align: center;
  margin: 1em auto;
}

button {
  margin-left: 6px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFCB05;
  font-size: 20px;
}
