.card-container{
    margin: 2em auto;
    height: 400px;
    margin-top: 10%;
    width: 270px;
}
mat-card{
    width: 30%;
    text-align:  center
}
mat-button{
    padding: 1px;
}
.spacer{
    height: 100px;
}
.image-container{
    margin-top: 25px;
}
button{
    width: 200px;
    padding: 2px;
    background-color: #212121;
    color: white;
    font-size: 2 rem;
    font-weight: 300;
}
.small-text{
    margin-top: 5px;
    text-align: center;
    width: 200px;
    font-size: 12px;
    margin-left: 13px;
}
