<mat-card class="card-container mat-elevation-z10" matRipple matRippleColor="primary">
  <mat-card-content >
    <div class="image-container">
      <img src="assets/locked.svg" alt="" srcset="" width="150">
    </div>
    <div class="spacer"></div>
    <div class="login-button ">
      <button  mat-raised-button class="mat-elevation-z6"(click)="login()">
        <img src="assets/google.svg" alt="" srcset="" width="30">
        Sign In with google</button>
    </div>
    <div class="small-text">*By Signing in you agree to the terms and conditions..</div>
  </mat-card-content>
</mat-card>
