<app-navbar></app-navbar>

<section>

      <mat-card class="mat-elevation-z7">
        <mat-card-title> <small>Analysis</small></mat-card-title>
        <mat-card-content>

          <div class="main">
            <article>
              <vg-player (onPlayerReady)="onPlayerReady($event)">
                <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls autoplay>
                  <source type="video/mp4">
                </video>
              </vg-player>
            </article>

            <aside>
              <div class="innerrow1" style="background-image: linear-gradient(to right, #eeedece7, #f0ededf6);">
                <h4>Locale</h4>
                <mat-chip-list>
                  <mat-chip class="mat-elevation-z8" style="background-color: #FFCB05;
                  color: rgba(0, 0, 0, 0.87); font-size: 16px;"
                  *ngFor=" let frame of locale">{{frame.class}} &nbsp;
                    <div class="accuracy">{{frame.accuracy}}</div>
                  </mat-chip>
                </mat-chip-list>
              </div>
              <div class="innerrow2" style="background-image: linear-gradient(to right, #eeedece7, #f0ededf6);">
                <h4>CAD</h4>
                <mat-chip-list>
                  <mat-chip class="mat-elevation-z8" style="background-color: #FFCB05;
                  color: rgba(0, 0, 0, 0.87); font-size: 16px;"
                  *ngFor=" let frame of cad">{{frame.class}} &nbsp;<div class="accuracy">{{frame.accuracy}}
                    </div>
                  </mat-chip>
                </mat-chip-list>
              </div>
              <div class="innerrow3" style="background-image: linear-gradient(to right, #eeedece7, #f0ededf6);">
                <h4>Aparallel</h4>
                <mat-chip-list>
                  <mat-chip class="mat-elevation-z8" style="background-color: #FFCB05;
                  color: rgba(0, 0, 0, 0.87); font-size: 16px;"
                  *ngFor=" let frame of aparallel">{{frame.class}} &nbsp;<div class="accuracy">
                      {{frame.accuracy}}
                    </div>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </aside>
          </div>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
      <div class="button-container">
      <button mat-raised-button (click)="generateGraphs()">
        <img src="assets/browser.svg" width="30"> Visualize Data</button>
      </div>
</section>
