section{
    margin: 2%;
    width: 68%;
    flex: 2 0 0;
}
.video-container{
    padding: 10px;
}
video{
    width: 100%;
    height: 100%;
    max-height: 400px;
}

.right-bar{
     margin-top: 2%;
    width: 28%;
    flex: 1 0 0;
    padding: 2px;
}
.container{
    display: flex;
    padding: 5px;
}
.status-card{
    margin-bottom: 9px;
}
button{
    background-color: #FFCB05;
    color: #212121;
    font-size: 17px;
}
img{
    width: 30px;
    height: 30px;
}
input{
    width: 500px;
    height: 40px;
    font-size: 19px;
}
.prev-video-button{
    color: #FFCB05; background-color: #212121;
}
